body {
	font-family: Arial;
	/*        min-height: 100%;                                                                                                                                                                                          
    overflow: hidden;                                                                                                                                                                                          
    margin: 0px;
    */
    padding-top:3em;
}

a {
	text-decoration: none;
	font-weight:bold;
	color:#25C;
}

.content {
	width:900px;
	margin: 0 auto;
	clear:both;
}

#footer {
	width:100%;
	background-color:#eee;
	padding-top:1em;
	padding-bottom:1em;
	
}

#footer_content {
	width:900px;
	margin: 0 auto;
	font-size:0.8Em;
}

div#titlebar {
	background-color: #444;
	width: 100%;
	padding: 0em;
	margin-bottom: 2em;
 	position: fixed; 
	top: 0;
	left: 0;
	height: 3em;
}

#titlebar .title {
	width: 900px;
	color: #Fff;
	margin: 0 auto;
	font-size:1.4em;
	line-height:3em;
	
}

div#alerts_list {
	width: 100%;
	font-size:0.9em;
}

#close_x {
	overflow: hidden;
	line-height: 1000px;
	display: block;
	position: absolute;
	top: 5px;
	right: 5px;
	background: url(close-button.gif) no-repeat;
	color: transparent;
}

h2 {
	font-size: 1.2em;
	font-weight: bold;
}

#logged_in {
	width:100%;
	text-align:right;
	font-size:0.8em;
}

#map {
	height: 330px;
	width: 600px;
}

div.syntax_help {
	font-size: 0.7em;
}

div.syntax_help td {
	font-size: 0.7em;
}

.leaflet-control-draw {
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius: 7px;
}

.leaflet-control-draw {
	padding: 5px;
	background: rgba(0, 0, 0, 0.25);
}

.leaflet-control-draw a {
	background-color: rgba(255, 255, 255, 0.75)
}

.leaflet-control-draw a {
	background-position: 50% 50%;
	background-repeat: no-repeat;
	display: block;
}

.leaflet-control-draw a {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	width: 19px;
	height: 19px;
	margin-top: 5px;
}

.leaflet-control-draw a:first-child {
	margin-top: 0px
}

.leaflet-control-draw a:hover {
	background-color: #fff
}

.leaflet-touch .leaflet-control-draw a {
	width: 27px;
	height: 27px;
}

.leaflet-control-draw-marker {
	background-image:
		url(https://raw.github.com/brunob/leaflet.draw/master/draw-marker.png)
}

.leaflet-control-draw-polyline {
	background-image:
		url(https://raw.github.com/brunob/leaflet.draw/master/draw-polyline.png)
}

.leaflet-control-draw-polygon {
	background-image:
		url(https://raw.github.com/brunob/leaflet.draw/master/draw-polygon.png)
}

.leaflet-control-draw-rectangle {
	background-image:
		url(https://raw.github.com/brunob/leaflet.draw/master/draw-rectangle.png)
}

#add_alert_box {
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	-webkit-box-shadow: rgba(0, 0, 0, .6) 0px 2px 12px;
	-moz-box-shadow: rgba(0, 0, 0, .6) 0px 2px 12px;;
	padding: 14px 22px;
	width: 650px;
	position: relative;
	display: none;
	border: 1px solid #536376;
	background-color: #fff;
}